<!DOCTYPE html>
<html lang="es">
{% extends "base.html" %}
{% block additional_preloads %}
<link rel="preload" as="image" href="/resources/home.gif">
<!-- removed preload for missing images: map-ice, map-candy2, map-candy, map-badlands -->
<link rel="preload" as="image" href="/resources/main-characters.png">
<link rel="preload" as="image" href="/resources/main-map.png">
<link rel="preload" as="image" href="/resources/discord-white.png">
<link rel="preload" as="image" href="/resources/Cartoon_Network_2010.svg">
{% endblock %}
{% block content %}

<!-- header-nav is fixed in base, add extra top margin so title isn't overlapped -->
<header class="dungeon-header">
	<h1 class="page-title">Dungeon Calendar</h1>
</header>


<table class="dungeon-table" border="1">
	<colgroup>
		<col class="col-75">
		<col class="col-75">
		<col class="col-75">
		<col class="col-75">
		<col class="col-75">
		<col class="col-75">
		<col class="col-75">
		<col class="col-75">
	</colgroup>

<tbody><tr>
<th>
</th>
<th>Strange Sunday
</th>
<th>Sandwich Monday
</th>
<th>Taco Tuesday
</th>
<th>Wurst Wednesday
</th>
<th>Thirsty Thursday
</th>
<th>Fried Day
</th>
<th>Sweet Saturday
</th></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/5_Hearts-0.webp" class="mw-file-description image"><img alt="5 Hearts-0" src="/resources/dungeon/5_Hearts-0.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element" data-image-name="5 Hearts-0.png" data-image-key="5_Hearts-0.png" data-relevant="1"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Beetle_Butter.webp" class="mw-file-description image"><img alt="Beetle Butter" src="/resources/dungeon/Beetle_Butter.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element" data-image-name="Beetle Butter.png" data-image-key="Beetle_Butter.png" data-relevant="0"></a></span> Beetle Butter
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Half_Eaten_Sandwich.webp" class="mw-file-description image"><img alt="Half Eaten Sandwich" src="/resources/dungeon/Half_Eaten_Sandwich.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Half Eaten Sandwich.png" data-image-key="Half_Eaten_Sandwich.png" data-relevant="0" data-src="/resources/dungeon/Half_Eaten_Sandwich.webp"></a></span> Half Eaten Sandwich
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Tortilla.webp" class="mw-file-description image"><img alt="Tortilla" src="/resources/dungeon/Tortilla.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Tortilla.png" data-image-key="Tortilla.png" data-relevant="0" data-src="/resources/dungeon/Tortilla.webp"></a></span> Tortilla
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Mustard.webp" class="mw-file-description image"><img alt="Mustard" src="/resources/dungeon/Mustard.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Mustard.png" data-image-key="Mustard.png" data-relevant="0" data-src="/resources/dungeon/Mustard.webp"></a></span> Mustard
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Sour_Milk.webp" class="mw-file-description image"><img alt="Sour Milk" src="/resources/dungeon/Sour_Milk.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Sour Milk.png" data-image-key="Sour_Milk.png" data-relevant="0" data-src="/resources/dungeon/Sour_Milk.webp"></a></span> Sour Milk
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Fried_Egg.webp" class="mw-file-description image"><img alt="Fried Egg" src="/resources/dungeon/Fried_Egg.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Fried Egg.png" data-image-key="Fried_Egg.png" data-relevant="0" data-src="/resources/dungeon/Fried_Egg.webp"></a></span> Fried Egg
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Jelly_Donut.webp" class="mw-file-description image"><img alt="Jelly Donut" src="/resources/dungeon/Jelly_Donut.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Jelly Donut.png" data-image-key="Jelly_Donut.png" data-relevant="0" data-src="/resources/dungeon/Jelly_Donut.webp"></a></span> Jelly Donut
</td></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/10_Hearts.webp" class="mw-file-description image"><img alt="10 Hearts" src="/resources/dungeon/10_Hearts.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element ls-is-cached lazyloaded" data-image-name="10 Hearts.png" data-image-key="10_Hearts.png" data-relevant="1" data-src="/resources/dungeon/10_Hearts.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Armpit_Flakes.webp" class="mw-file-description image"><img alt="Armpit Flakes" src="/resources/dungeon/Armpit_Flakes.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Armpit Flakes.png" data-image-key="Armpit_Flakes.png" data-relevant="0" data-src="/resources/dungeon/Armpit_Flakes.webp"></a></span> Armpit Flakes
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Peanut_Butter.webp" class="mw-file-description image"><img alt="Peanut Butter" src="/resources/dungeon/Peanut_Butter.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Peanut Butter.png" data-image-key="Peanut_Butter.png" data-relevant="0" data-src="/resources/dungeon/Peanut_Butter.webp"></a></span> Peanut Butter
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Cheesy_Cheese.webp" class="mw-file-description image"><img alt="Cheesy Cheese" src="/resources/dungeon/Cheesy_Cheese.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Cheesy Cheese.png" data-image-key="Cheesy_Cheese.png" data-relevant="0" data-src="/resources/dungeon/Cheesy_Cheese.webp"></a></span> Cheesy Cheese
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Bratswurst.webp" class="mw-file-description image"><img alt="Bratswurst" src="/resources/dungeon/Bratswurst.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Bratswurst.png" data-image-key="Bratswurst.png" data-relevant="0" data-src="/resources/dungeon/Bratswurst.webp"></a></span> Bratwurst
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Cold_Cocoa.webp" class="mw-file-description image"><img alt="Cold Cocoa" src="/resources/dungeon/Cold_Cocoa.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Cold Cocoa.png" data-image-key="Cold_Cocoa.png" data-relevant="0" data-src="/resources/dungeon/Cold_Cocoa.webp"></a></span> Cold Cocoa
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Fried_Banana.webp" class="mw-file-description image"><img alt="Fried Banana" src="/resources/dungeon/Fried_Banana.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Fried Banana.png" data-image-key="Fried_Banana.png" data-relevant="0" data-src="/resources/dungeon/Fried_Banana.webp"></a></span> Fried Banana
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Lemon_Cake.webp" class="mw-file-description image"><img alt="Lemon Cake" src="/resources/dungeon/Lemon_Cake.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element ls-is-cached lazyloaded" data-image-name="Lemon Cake.png" data-image-key="Lemon_Cake.png" data-relevant="0" data-src="/resources/dungeon/Lemon_Cake.webp"></a></span> Lemon Cake
</td></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/15_Hearts.webp" class="mw-file-description image"><img alt="15 Hearts" src="/resources/dungeon/15_Hearts.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element lazyloaded" data-image-name="15 Hearts.png" data-image-key="15_Hearts.png" data-relevant="0" data-src="/resources/dungeon/15_Hearts.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Smelly_Sock.webp" class="mw-file-description image"><img alt="Smelly Sock" src="/resources/dungeon/Smelly_Sock.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Smelly Sock.png" data-image-key="Smelly_Sock.png" data-relevant="1" data-src="/resources/dungeon/Smelly_Sock.webp"></a></span> Smelly Sock
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Grape_Jelly.webp" class="mw-file-description image"><img alt="Grape Jelly" src="/resources/dungeon/Grape_Jelly.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Grape Jelly.png" data-image-key="Grape_Jelly.png" data-relevant="1" data-src="/resources/dungeon/Grape_Jelly.webp"></a></span> Grape Jelly
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Carnitas.webp" class="mw-file-description image"><img alt="Carnitas" src="/resources/dungeon/Carnitas.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Carnitas.png" data-image-key="Carnitas.png" data-relevant="1" data-src="/resources/dungeon/Carnitas.webp"></a></span> Carnitas
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Green_Ketchup.webp" class="mw-file-description image"><img alt="Green Ketchup" src="/resources/dungeon/Green_Ketchup.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Green Ketchup.png" data-image-key="Green_Ketchup.png" data-relevant="1" data-src="/resources/dungeon/Green_Ketchup.webp"></a></span> Green Ketchup
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Orange_Soda.webp" class="mw-file-description image"><img alt="Orange Soda" src="/resources/dungeon/Orange_Soda.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Orange Soda.png" data-image-key="Orange_Soda.png" data-relevant="0" data-src="/resources/dungeon/Orange_Soda.webp"></a></span> Orange Soda
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Chicken_Tenders.webp" class="mw-file-description image"><img alt="Chicken Tenders" src="/resources/dungeon/Chicken_Tenders.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Chicken Tenders.png" data-image-key="Chicken_Tenders.png" data-relevant="0" data-src="/resources/dungeon/Chicken_Tenders.webp"></a></span> Chicken Tenders
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Apple_Pie.webp" class="mw-file-description image"><img alt="Apple Pie" src="/resources/dungeon/Apple_Pie.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Apple Pie.png" data-image-key="Apple_Pie.png" data-relevant="1" data-src="/resources/dungeon/Apple_Pie.webp"></a></span> Apple Pie
</td></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/25_Hearts.webp" class="mw-file-description image"><img alt="25 Hearts" src="/resources/dungeon/25_Hearts.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element lazyloaded" data-image-name="25 Hearts.png" data-image-key="25_Hearts.png" data-relevant="0" data-src="/resources/dungeon/25_Hearts.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Demon_Heart.webp" class="mw-file-description image"><img alt="Demon Heart" src="/resources/dungeon/Demon_Heart.webp" decoding="async" loading="lazy" width="75" height="72" class="mw-file-element lazyloaded" data-image-name="Demon Heart.png" data-image-key="Demon_Heart.png" data-relevant="1" data-src="/resources/dungeon/Demon_Heart.webp"></a></span> Demon Heart
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Large_Sandwich.webp" class="mw-file-description image"><img alt="Large Sandwich" src="/resources/dungeon/Large_Sandwich.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Large Sandwich.png" data-image-key="Large_Sandwich.png" data-relevant="1" data-src="/resources/dungeon/Large_Sandwich.webp"></a></span> Large Sandwich
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Hot_Pepper_Salsa.webp" class="mw-file-description image"><img alt="Hot Pepper Salsa" src="/resources/dungeon/Hot_Pepper_Salsa.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Hot Pepper Salsa.png" data-image-key="Hot_Pepper_Salsa.png" data-relevant="0" data-src="/resources/dungeon/Hot_Pepper_Salsa.webp"></a></span> Hot Pepper Salsa
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Pristine_Pickles.webp" class="mw-file-description image"><img alt="Pristine Pickles" src="/resources/dungeon/Pristine_Pickles.webp" decoding="async" loading="lazy" width="75" height="72" class="mw-file-element lazyloaded" data-image-name="Pristine Pickles.png" data-image-key="Pristine_Pickles.png" data-relevant="1" data-src="/resources/dungeon/Pristine_Pickles.webp"></a></span> Pristine Pickles
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Ham_Chunk_Juice.webp" class="mw-file-description image"><img alt="Ham Chunk Juice" src="/resources/dungeon/Ham_Chunk_Juice.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Ham Chunk Juice.png" data-image-key="Ham_Chunk_Juice.png" data-relevant="1" data-src="/resources/dungeon/Ham_Chunk_Juice.webp"></a></span> Ham Chunk Juice
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/BaconNuggets_Small.webp" class="mw-file-description image"><img alt="BaconNuggets Small" src="/resources/dungeon/BaconNuggets_Small.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="BaconNuggets Small.jpg" data-image-key="BaconNuggets_Small.jpg" data-relevant="0" data-src="/resources/dungeon/BaconNuggets_Small.webp"></a></span> Bacon Nuggets
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Quart_of_Ice_Cream.webp" class="mw-file-description image"><img alt="Quart of Ice Cream" src="/resources/dungeon/Quart_of_Ice_Cream.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Quart of Ice Cream.png" data-image-key="Quart_of_Ice_Cream.png" data-relevant="1" data-src="/resources/dungeon/Quart_of_Ice_Cream.webp"></a></span> Quart of Ice Cream
</td></tr>
<tr>
<td colspan="8" class="no-border">
</td></tr>
<tr>
<th>
</th>
<th>Snack Hour (Daily)
</th>
<th>Fancy Meal Time
</th></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/5_Hearts-0.webp" class="mw-file-description image"><img alt="5 Hearts-0" src="/resources/dungeon/5_Hearts-0.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element ls-is-cached lazyloaded" data-image-name="5 Hearts-0.png" data-image-key="5_Hearts-0.png" data-relevant="1" data-src="/resources/dungeon/5_Hearts-0.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Normal_Apple.webp" class="mw-file-description image"><img alt="Normal Apple" src="/resources/dungeon/Normal_Apple.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Normal Apple.png" data-image-key="Normal_Apple.png" data-relevant="0" data-src="/resources/dungeon/Normal_Apple.webp"></a></span> Normal Apple
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/SpaghettiAndMeatballs_Small.webp" class="mw-file-description image"><img alt="SpaghettiAndMeatballs Small" src="/resources/dungeon/SpaghettiAndMeatballs_Small.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="SpaghettiAndMeatballs Small.jpg" data-image-key="SpaghettiAndMeatballs_Small.jpg" data-relevant="0" data-src="/resources/dungeon/SpaghettiAndMeatballs_Small.webp"></a></span> Spaghetti and Meatballs
</td></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/10_Hearts.webp" class="mw-file-description image"><img alt="10 Hearts" src="/resources/dungeon/10_Hearts.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element ls-is-cached lazyloaded" data-image-name="10 Hearts.png" data-image-key="10_Hearts.png" data-relevant="1" data-src="/resources/dungeon/10_Hearts.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Trail_Mix.webp" class="mw-file-description image"><img alt="Trail Mix" src="/resources/dungeon/Trail_Mix.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Trail Mix.png" data-image-key="Trail_Mix.png" data-relevant="0" data-src="/resources/dungeon/Trail_Mix.webp"></a></span> Trail Mix
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/SteakAndPotatoes_Small.webp" class="mw-file-description image"><img alt="SteakAndPotatoes Small" src="/resources/dungeon/SteakAndPotatoes_Small.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="SteakAndPotatoes Small.jpg" data-image-key="SteakAndPotatoes_Small.jpg" data-relevant="0" data-src="/resources/dungeon/SteakAndPotatoes_Small.webp"></a></span> Steak and Potatoes
</td></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/15_Hearts.webp" class="mw-file-description image"><img alt="15 Hearts" src="/resources/dungeon/15_Hearts.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element ls-is-cached lazyloaded" data-image-name="15 Hearts.png" data-image-key="15_Hearts.png" data-relevant="0" data-src="/resources/dungeon/15_Hearts.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Captain_Chip_Chips.webp" class="mw-file-description image"><img alt="Captain Chip Chips" src="/resources/dungeon/Captain_Chip_Chips.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Captain Chip Chips.png" data-image-key="Captain_Chip_Chips.png" data-relevant="0" data-src="/resources/dungeon/Captain_Chip_Chips.webp"></a></span> Captain Chip Chips
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/SweatyLobster_Small.webp" class="mw-file-description image"><img alt="SweatyLobster Small" src="/resources/dungeon/SweatyLobster_Small.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="SweatyLobster Small.jpg" data-image-key="SweatyLobster_Small.jpg" data-relevant="0" data-src="/resources/dungeon/SweatyLobster_Small.webp"></a></span> Sweaty Lobster
</td></tr>
<tr>
<th><span typeof="mw:File"><a href="/resources/dungeon/25_Hearts.webp" class="mw-file-description image"><img alt="25 Hearts" src="/resources/dungeon/25_Hearts.webp" decoding="async" loading="lazy" width="75" height="37" class="mw-file-element ls-is-cached lazyloaded" data-image-name="25 Hearts.png" data-image-key="25_Hearts.png" data-relevant="0" data-src="/resources/dungeon/25_Hearts.webp"></a></span>
</th>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Hair_Ball_Chips.webp" class="mw-file-description image"><img alt="Hair Ball Chips" src="/resources/dungeon/Hair_Ball_Chips.webp" decoding="async" loading="lazy" width="75" height="73" class="mw-file-element lazyloaded" data-image-name="Hair Ball Chips.png" data-image-key="Hair_Ball_Chips.png" data-relevant="1" data-src="/resources/dungeon/Hair_Ball_Chips.webp"></a></span> Hair Ball Chips
</td>
<td align="center" valign="top"><span typeof="mw:File"><a href="/resources/dungeon/Turducken_Small.webp" class="mw-file-description image"><img alt="Turducken Small" src="/resources/dungeon/Turducken_Small.webp" decoding="async" loading="lazy" width="75" height="75" class="mw-file-element lazyloaded" data-image-name="Turducken Small.jpg" data-image-key="Turducken_Small.jpg" data-relevant="0" data-src="/resources/dungeon/Turducken_Small.webp"></a></span> Turducken
</td></tr></tbody></table>
{% endblock %}