<!DOCTYPE html>
<html lang="es">
{% extends "base.html" %}
{% block additional_preloads %}
<link rel="preload" as="image" href="/resources/home.gif">
<!-- removed preload for missing images: map-ice, map-candy2, map-candy, map-badlands -->
<link rel="preload" as="image" href="/resources/main-characters.png">
<link rel="preload" as="image" href="/resources/main-map.png">
<link rel="preload" as="image" href="/resources/discord-white.png">
<link rel="preload" as="image" href="/resources/Cartoon_Network_2010.svg">
{% endblock %}
{% block content %}

<h1>Multiplayer (PvP)</h1>

<h2>PvP Seasons</h2>

<h3>OG League System:</h3>
<ul>
    <li>01 Season: #21 Sandasaurus Rex</li>
    <li>02 Season: #16 Baldmans Throne</li>
    <li>03 Season: #121 Cotton Cutie [Awaken]</li>
    <li>04 Season: #199 Poppa Corn [Awaken]</li>
    <li>05 Season: #75 Polterclops</li>
    <li>06 Season: #197 Brain Gooey</li>
    <li>07 Season: #261 Music Mallard</li>
    <li>08 Season: #61 Camera Dude</li>
    <li>09 Season: #37 Ghost Chest Burster</li>
    <li>10 Season: #65 Green Party Ogre</li>
</ul>

<h3>New League System:</h3>
<p>11 Season:</p>
<p>Super Amadeus: #1047 Avalancheetah</p>
<p>Ember: #281 Blueberry Pieclops</p>

<h2>Ember [OG Amadeus] Creatures:</h2>
<ul>
    <li>#16 Baldmans Throne</li>
    <li>#21 Sandasaurus Rex</li>
    <li>#37 Ghost Chest Burster</li>
    <li>#61 Camera Dude</li>
    <li>#65 Green Party Ogre</li>
    <li>#75 Polterclops</li>
    <li>#121 Cotton Cutie [Awaken]</li>
    <li>#197 Brain Gooey</li>
    <li>#199 Poppa Corn [Awaken]</li>
    <li>#261 Music Mallard</li>
</ul>

<h2>Super Amadeus Creatures:</h2>
<ul>
    <li>#1047 Avalancheetah</li>
</ul>

{% endblock %}</content>

